.vs
net-core-finocio-crawl/obj
net-finocio-crawl/bin
net-finocio-crawl/obj
worker-netcore-crawl/bin
worker-netcore-crawl/obj
net-core-finocio-crawl/bin
finocio-api/obj
finocio-api/Properties
finocio-ultilities/obj
finocio-ultilities/bin
*.tar
.DS_Store
finocio-model/obj
finocio-model/bin
finocio-model/Properties
finocio-api/bin
finocio-api/bin
obj
